<md-toolbar ui-masonry id="toolbar">
    <ui-card-panel node-id="{{group.header.id}}" ng-repeat="group in main.menu[0].items" id="{{main.menu[0].header+'_'+group.header.name | spaceToUnderscore}}">
        <ui-component ng-repeat="control in group.items" item="control"></ui-component>
    </ui-card-panel>
</md-toolbar>
<section layout="row" flex>
    <md-sidenav ng-hide="main.len <= 1" class="md-sidenav-left" md-component-id="left" md-is-locked-open="(main.lockMenu != 'false')">
        <md-list>
            <md-list-item ng-repeat="obj in main.menu" ng-class="{'nr-menu-item-active':location.$$path=='/'+$index}" ng-disabled="obj.disabled" ng-if="!obj.hidden" ng-click="main.open(obj, $index)">
                <ui-icon icon="{{obj.icon}}" style="margin:5px"></ui-icon>
                <p style="margin-right:12px; min-width:120px;" ng-show="(main.lockMenu != 'icon')">{{main.getMenuName(obj)}}</p>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-content flex>
        <div ui-masonry ng-show="main.selectedTab.header" id="{{'Tab_'+main.selectedTab.header | spaceToUnderscore}}">
            <ui-card-panel node-id="{{group.header.id}}" ng-repeat="group in main.selectedTab.items" id="{{main.selectedTab.header+'_'+group.header.name | spaceToUnderscore}}"  ng-if="group.header && group.header.config && !group.header.config.hidden && (group.header.name != 'toolbar')">
                <ui-component ng-repeat="control in group.items" item="control"></ui-component>
            </ui-card-panel>
        </div>
    	<div class="node-red-ui--inline-link" ng-show="!main.selectedTab.header">
    		<iframe class="iframe" ng-src="{{ main.selectedTab.link }}" allowfullscreen></iframe>
    		<!-- <div>The url {{ }} cannot be loaded into an iframe.</div> -->
    	</div>
    </md-content>
</section>
<div id="nr-dashboard-footer" layout="row"></div>

